*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    scroll-behavior: smooth;
}
body{
    background-color: #ffffff;
}
body::-webkit-scrollbar{
    width: 0;
}
.heroSection{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.desCol{
    width: 50%;
}
.imgCol{
    width: 50%;
}