nav{
	background: #46244a;
	height: 4rem;
	width: 100%;
	top: 0;
	position: sticky;
	display: flex;
	flex-direction: row;
	align-items: center;
	z-index: 999;
	box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.5);
}
ul{
	height: 3.5rem;
	display: flex;
	align-items: center;
}
.ulImg{
	width: 20%;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}
#logo{
	height: 3.5rem;
}
#logoText{
	height: 3.5rem;
	color: #F0ECE6;
	font-size: 1.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
}
.ulLeft{
	width: 60%;
	display: flex;
	justify-content: center;
}
.ulRight{
	width: 20%;
	padding-right: 2rem;
	display: flex;
	justify-content: flex-end;
}
nav ul li{
	display: flex;
	flex-direction: row;
	margin-left: 30px;
}
nav ul li a{
	color: #F0ECE6;
	font-size: 18px;
  	text-decoration: none;
	font-weight: bold;
	position: relative;
}
#userIcon{
	font-size: 1.5rem;
	margin-right: 0.5rem;
	color: #F0ECE6;
}
#onlineUser{
	font-size: 20px;
	color: #F0ECE6;
  	text-decoration: none;
	font-weight: bold;
	position: relative;
}
#logoutIcon{
	font-size: 1.5rem;
	color: #ff1717;
	cursor: pointer;
}