*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    scroll-behavior: smooth;
}
body{
    background-color: #ffffff;
}
body::-webkit-scrollbar{
    width: 0;
}
section{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.divCol{
    margin-top: 3rem;
}
#imgCol{
    width: 18%;
    padding: 1.5rem;
}
#profileLabel{
    font-size: 1.8rem;
    margin-bottom: 2rem;
    border-radius: 1rem;
    border: 0.2rem solid #46244a;
    padding: 1rem;
    color: #46244a;
    display: flex;
    align-items: center;
    justify-content: center;
}
#profile{
    height: 15rem;
    border-radius: 1rem;
    background-color: #46244a;
    box-shadow: 5px 5px 8px black;
}
#inputImg{
    height: 15rem;
    border-radius: 50%;
    font-size: 4rem;
    transition: 0.3s;
    border: 0.2rem solid #46244a;
    color: #46244a;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
#inputImg:hover{
    border-color:#942c9f;
    color:#942c9f;
    transition: 0.3s;
}
#desCol{
    width: 40%;
}
.desCon{
    column-count: 2;
}
.desWrap{
    display: flex;
    flex-direction: column;
    border: 1px solid red;
}
#desLabel{
    font-size: 1.8rem;
    margin-bottom: 2rem;
    border-radius: 1rem;
    border: 0.2rem solid #46244a;
    padding: 1rem;
    color: #46244a;
    display: flex;
    align-items: center;
    justify-content: center;
}
#fileCol{
    width: 30%;
}